*{
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.L-border{
    border: 1px solid red;
}


.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .rajdhani {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  /* button style */
  .custom-button {
    position: relative;
    border: 2px solid #fff;
    padding: 0.75rem 1.75rem;
    color: #FFF; /* Set default text color */
    background-color: transparent;
    font-weight: bold;
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    z-index: 1; /* Ensure text is above the pseudo-element */
  }
  
  .custom-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Background color when hovered */
    transform-origin: top;
    transform: scaleY(0); /* Initially scale to 0 along the Y-axis */
    transition: transform 0.5s ease-in-out;
    z-index: -10; /* Ensure pseudo-element is behind the text */
  }
  
  .custom-button:hover::before {
    transform: scaleY(1); /* Scale to 1 along the Y-axis on hover */
  }
  
  .custom-button:hover {
    color: black; /* Change text color to white on hover */
  }

  
  /* button style */
  

  /* swiper slide */
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* swiper slide */

  .box-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .show-button {
    transition: opacity 0.5s ease; /* Apply transition to opacity property over 0.5 seconds with ease timing function */
    opacity: 0; /* Initially set opacity to 0 */
  }
  
  .show-button.show {
    opacity: 1; /* Change opacity to 1 when button should be shown */
  }
  


@media only screen and (min-width: 768px) {
    .active{
        color: #1AD1A5;
        border-bottom: 2px solid #1AD1A5;
    }
  }